* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #fbeec18e;
}

::-webkit-scrollbar{
    width: 1.25rem;
}

::-webkit-scrollbar-track{
    background-color: #165954;
}

::-webkit-scrollbar-thumb{
    background-color: #fbeec1;
    border-radius: 10px;
    border: 5px solid transparent;
    background-clip: content-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

/* navbar styling */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #165954;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    padding: 10px 80px;
    position: sticky;
    z-index: 1;
    top: 0;
    overflow-block: hidden;
    font-family: 'JetBrains Mono', monospace;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

.navbar li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s ease;
}

.logo img {
    height: 50px;
    border-radius: 7px;
    width: 190px;
    padding: 1px;
    border: 0.5px solid black;
}

.logo img:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    transform: scale(1.01);
}

.navbar li a:hover,
.navbar li a.active {
    color: #FEE715FF;
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 30%;
    bottom: -4px;
    left: 20px;
    height: 2px;
    position: absolute;
    background: #FEE715FF;
}

/* body styling */

section {
    padding: 10px;
}

section h1 {
    font-size: 30px;
    color: #165954;
    padding: 20px 0 0 45px;
    font-family: 'JetBrains Mono', monospace;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0 0 20px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 0 10px 0 80px;
    border-radius: 20px;
    height: 360px;
    width: 600px;
    border: 2px solid #165954;
    background-color: #FFDEE986;
    background-image: linear-gradient(0deg, #ffdee986 0%, #b5fffd81 100%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.parent:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.child1 {
    display: block;
    flex-direction: column;
    width: auto;
}

.child1 img {
    display: block;
    height: 180px;
    width: 180px;
    margin: auto;
    align-items: center;
    margin-top: 27px;
    margin-bottom: 10px;
    border: 2px solid gray;
    border-radius: 18px;
    overflow: hidden;
    transition: 0.2s ease;
}

.child1 img:hover {
    transform: scale(1.04);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.child1 .header {
    display: block;
    width: auto;
    margin: auto;
    font-size: 20px;
    font-weight: 550;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #165954;
}

.child2 {
    margin-left: 50px;
    padding: 8px 0 10px 5px;
    height: 200px;
    font-family: 'Titillium Web', sans-serif;
}

.child2 .content {
    display: block;
    width: 250px;
    margin: auto;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
}

section .header,
.child2 .content{
    font-family: 'Titillium Web', sans-serif;
}

.child2 .content strong{
    color: #165954;
}

.icons{
    margin: 10px 15px 0 0;
}

.icons a{
    margin: 0 10px;
    color: #165954;
}

.icons a:hover{
    color: #222;
}

input {
    width: 40px;
    height: 30px;
    border-radius: 7px;
}

.child2 .btn {
    margin: 15px 0 0 5px;
    padding: 7px;
    display: inline-block;
    width: 80px;
    height: 30px;
    font-size: 15px;
    border-radius: 7px;
    line-height: 1;
    border: 1px solid #165954;
    color: #165954;
    background-color: #fbeec18e;
    transition: 0.2s ease;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.child2 .btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    color: #efefef;
    font-weight: 500;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    border: 1px solid aliceblue;
}

.desc {
    font-size: 18px;
    width: 473px;
    padding: 0 15px 15px 0;
    color: #CC313D;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.upcomingDrop .btn {
    width: 200px;
    margin-left: 0;
}

/* Footer styling */

footer {
    padding: 20px 0 0 40px;
    margin-top: 25px;
    width: 100%;
    background-color: #165954;
    line-height: 1.7;
    color: aliceblue;
    height: 290px;
    font-family: 'JetBrains Mono', monospace;
}

footer .flex {
    display: flex;
}

footer a {
    color: aliceblue;
    text-decoration: none;
    line-height: 1.7;
}

footer a:hover,
footer a.active {
    color: #FEE715FF;

}

footer h4 {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #FEE715FF;
}

.footer-logo img {
    height: 50px;
    border-radius: 7px;
    width: 190px;
    padding: 1px;
    margin-bottom: 10px;
    border: 0.5px solid black;
}

.footer-logo img:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
}

.first {
    margin-top: 30px;
}

.first strong{
    color: #FEE715FF;
}

.second {
    margin: 0 100px 0 77px;
    padding: 0 20px 0 20px;
}

.third {
    margin: 7px 77px 0 0px;
    padding: 5px 10px;
}

.third a {
    margin-left: 15px;
}

.third .follow a {
    font-size: 18px;
}

.third .follow i:hover {
    color: #FEE715FF;
}

.fourth {
    margin: 2.5% 100px 0 0px;
}

.fourth span {
    margin-left: 12px;
    font-size: 16px;
}

.fourth img {
    height: 100px;
    width: 100px;
    transition: 0.3s ease;
}

.fourth img:hover {
    transform: scale(1.1);
}

.copyright {
    padding: 15px 0 2px 0;
    font-size: 18px;
    margin: 5px 0 5px 26.5%;
}

footer strong,
footer i{
    color: aliceblue;
}